In [77]:
import numpy as np
import pandas as pd

In [78]:
example_file = 'example.txt'
data_input_file = 'data_input.txt'

In [79]:
# data = example_file
data = data_input_file
df = pd.read_csv(data, sep=":", header=None)

In [80]:
df.head()

          0                            1
0  13282106            9 7 244 864 689 9
1  16028321         10 437 7 727 385 8 1
2      1718               1 9 1 46 8 339
3   4075146                 39 9 8 514 6
4  32764104   3 7 8 2 5 1 3 263 7 85 2 6

In [81]:
list_string = (df[1][0].split())
list(map(int, list_string))

[9, 7, 244, 864, 689, 9]

In [82]:
print(df[0][0])

13282106

In [83]:
from itertools import product

In [84]:
items = [0, 1]
for item in product(items, repeat=2):
    print(item)

(0, 0)
(0, 1)
(1, 0)
(1, 1)

In [85]:
valid_equations_list = []
total_calib_result = 0
for i in range(len(df)):
    #print("iteration: ", i)
    expected_total = df[0][i]
    #print(expected_total)
    number_list_string = (df[1][i].split())
    number_list = list(map(int, number_list_string))
    #print(number_list)
    num_of_possible_combination = 2**(len(number_list)-1)
    # for number in range(num_of_possible_combination):
    #     operands_list = [int(ii) for ii in list('{0:0b}'.format(number))]
    #     print(operands_list)
    equation_valid = False
    for operands_list in product(items, repeat=len(number_list)-1):
        #print(operands_list)
        total = number_list[0]
        for ii, operand in enumerate(operands_list):
            if operand == 0:
                total = total + number_list[ii+1]
            elif operand == 1:
                total = total * number_list[ii+1]
        if total == expected_total:
            equation_valid = True 
            #print(total)
            #break
    if equation_valid:
        valid_equations_list.append(i)
        #print(total_calib_result, expected_total)
        total_calib_result = total_calib_result + expected_total

print(valid_equations_list)
print(total_calib_result)
        #print(total)

[0, 6, 8, 9, 13, 17, 19, 20, 21, 22, 25, 31, 33, 36, 39, 40, 41, 48, 49, 50, 52, 53, 54, 55, 56, 57, 60, 64, 67, 68, 69, 70, 71, 76, 79, 80, 81, 83, 84, 91, 96, 99, 101, 102, 107, 108, 110, 112, 117, 119, 123, 124, 125, 126, 129, 130, 131, 133, 135, 137, 138, 139, 141, 146, 148, 149, 153, 154, 156, 157, 159, 161, 163, 164, 165, 166, 167, 168, 174, 175, 176, 179, 180, 181, 184, 189, 191, 192, 193, 194, 196, 200, 201, 202, 203, 205, 211, 212, 216, 219, 220, 223, 232, 245, 246, 247, 248, 255, 260, 262, 265, 266, 267, 270, 279, 281, 286, 289, 290, 291, 292, 301, 303, 304, 305, 310, 323, 328, 331, 332, 333, 334, 337, 338, 340, 341, 343, 344, 353, 357, 360, 361, 367, 368, 370, 372, 374, 379, 380, 381, 383, 385, 387, 390, 394, 396, 406, 407, 408, 410, 419, 422, 423, 424, 425, 426, 428, 429, 430, 431, 434, 436, 437, 443, 446, 450, 452, 454, 460, 462, 464, 466, 468, 470, 471, 476, 477, 478, 479, 481, 483, 485, 489, 491, 492, 499, 506, 508, 509, 513, 518, 521, 522, 526, 532, 533, 534, 535, 537, 541, 542, 546, 547, 548, 549, 550, 551, 554, 557, 558, 565, 568, 573, 574, 575, 576, 577, 578, 583, 586, 591, 592, 593, 594, 600, 601, 604, 607, 608, 609, 610, 611, 612, 614, 615, 616, 617, 619, 621, 622, 633, 636, 638, 640, 641, 643, 645, 648, 649, 650, 651, 652, 654, 655, 661, 662, 665, 671, 675, 676, 679, 684, 685, 687, 688, 690, 694, 695, 696, 699, 702, 705, 706, 707, 713, 717, 718, 719, 723, 725, 726, 727, 729, 731, 735, 737, 738, 739, 745, 748, 749, 751, 752, 754, 757, 762, 763, 766, 767, 768, 770, 772, 773, 775, 776, 777, 778, 780, 783, 786, 787, 790, 791, 792, 796, 799, 803, 805, 807, 808, 809, 812, 813, 815, 817, 818, 819, 822, 825, 832, 833, 835, 837, 838, 840, 841, 842, 847, 848]
1708857123053